@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{ padding: 0; margin:0; box-sizing: border-box; font-family: 'Roboto', sans-serif; user-select: none;}

:root{

    --text-color: #FFFFFF;
    --principal-color: #F7BD12;
    --principal-color-shadow: #DAA402;
    --font: #20242E;
    --icon-shadow: #6E7076;
    --card-shadow: #4b4b4b;
    --link-color: #000000;
    --card-color: #EEEEEE;
    --background-card: #2daafd;
    --background-log: #3683b6f5;
    --ir: #ffa408;
    --ir-hover: #e28f00;
  
}

body{width: 100%;height: 100vh; overflow: hidden; }

main{ 

    width: 100%;
    height: 100%;
    background: var(--font);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23696969' fill-opacity='0.22'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    display: grid;
    grid-template-columns: 1fr 420px 420px 1fr;
    grid-template-rows: 1fr 250px 250px 1fr;
    gap: 15px;

}


header{

    width: 100%;
    height: 40px;
    background: var(--principal-color);
    color: var(--text-color);
    position: relative;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

ul{ 

    width: 160px;
    padding: 5px;

    position: absolute;
    top: 40px;
    right: -200px;

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 5px;
    transition: all 0.4s;

}

.mostrar{ right: 0; }

.move{ rotate: 90deg; }

ul li{ 

    width: 150px;
    height: 40px;
    list-style: none; 
    text-decoration: none;
    background: var(--principal-color);
    border-radius: 5px;
    transition: 0.4s;

}

ul li:hover{ background: var(--principal-color-shadow); transition: 0.4s;}

ul li a{ 

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: var(--link-color);

    display: flex;
    justify-content: center;
    align-items: center;

}

ul li a:hover{ color: var(--link-color); }

.bx-menu{

    font-size: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: 0.4s;

}

.card{

    background: var(--background-card);
    color: var(--text-general);
    border-radius: 5px;
    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: center;

}

.card:nth-child(1){grid-column: 2/3; grid-row: 2/3;}
.card:nth-child(2){grid-column: 3/4; grid-row: 2/3;}
.card:nth-child(3){grid-column: 2/3; grid-row: 3/4;}
.card:nth-child(4){grid-column: 3/4; grid-row: 3/4;}

.card .image{

    width: 40%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.card img{

    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #DDDDDD 50%, #FF9AA2 50%);
    border: 2px solid #fff;

}

.card .text{

    width: 60%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card a{

    width: 50px;
    height: 50px;
    background: var(--ir);
    color: var(--link-color);
    text-decoration: none;
    border-radius: 100%;
    font-size: 20px;
    z-index: 2;
    transition: all 0.4s;

    position: absolute;
    bottom: 25px;
    right: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card a:hover{ color: var(--text-color); background: var(--ir-hover); }

.card .log{

    width: 100%;
    height: 50px;
    background: var(--background-log);
    padding: 10px;
    font-size: 20px;

    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;


}

.alert{
    position: absolute;
}