@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{ padding: 0; margin:0; box-sizing: border-box; font-family: 'Roboto', sans-serif; user-select: none;}

:root{

    --text-color: #FFFFFF;
    --principal-color: #F7BD12;
    --principal-color-shadow: #DAA402;
    --font: #20242E;
    --icon-shadow: #414141;
    --card-shadow: #4b4b4b;
    --link-color: #000000;
    --card-color: #EEEEEE;
  
}

::-webkit-scrollbar{ width: 0; }

body{ 

    width: 100%;
    height: 100vh;
    background: var(--font);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23696969' fill-opacity='0.22'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    overflow-x: hidden;
 
}

header{

    width: 100%;
    height: 40px;
    background: var(--principal-color);
    position: relative;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

ul{ 

    width: 160px;
    padding: 5px;

    position: absolute;
    top: 40px;
    right: -200px;

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 5px;
    transition: all 0.4s;

}

.mostrar{ right: 0; }

.move{ rotate: 90deg; }

ul li{ 

    width: 150px;
    height: 40px;
    list-style: none; 
    text-decoration: none;
    background: var(--principal-color);
    border-radius: 5px;
    transition: 0.4s;

}

ul li:hover{ background: var(--principal-color-shadow); transition: 0.4s;}

ul li a{ 

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: var(--link-color);

    display: flex;
    justify-content: center;
    align-items: center;

}

ul li a:hover{ color: var(--link-color); }

.bx-menu{

    font-size: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: 0.4s;

}

.bx-menu:hover{ color: var(--icon-shadow); transition: 0.4s;}


.bxs-chevron-down{ 

    width: 18px;
    height: 20px;
    background: var(--principal-color);
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

h2{ font-weight: normal; }

.container{

    width: 100%;
    height: 100%;
    padding: 20px 10px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

}

table{ 

    border-radius: 5px; 
    overflow: hidden; 
    border-collapse: collapse;

}

th, td{ 

    width: 200px; 
    height:40px;
    padding: 5px;
    text-align: center;


}

thead tr th{ background: var(--principal-color); }

tbody{ color: var(--text-color); }

tbody tr:nth-child(odd){ background-color: #565756; }
tbody tr:nth-child(even){ background-color: #686868; }

.alert{

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

