@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{ padding: 0; margin:0; box-sizing: border-box; font-family: 'Roboto', sans-serif; user-select: none;}

:root{

  --text-color: #FFFFFF;
  --text-color-shadow: #757575;
  --card-font-color: #FFFFFF;
  --principal-color: #F7BD12;
  --principal-color-shadow: #DAA402;
  --box-text:  #dbdbdb;
  --font: #20242E;
  --link-color: #000000;

}

main{

  background: var(--font);
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{ 
    
  width: 400px;
  height: 510px;
  background: var(--card-font-color);
  border-radius: 8px;
  padding-top: 40px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

}

.forma{

  width: 280px;
  height: 65px;
  border-radius: 8px 0px 0px;
  background: linear-gradient(135deg,var(--principal-color) 95%, transparent 5%);
  color: var(--text-color);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}

input[type="text"],input[type="number"]{

  width: 80%;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  border: none;
  outline: none;
  background: var(--box-text);

}

input[type="text"]{ cursor: default; color: var(--text-color-shadow);}

input[type="submit"]{

  width: 80%;
  border-radius: 5px;
  padding: 15px;
  border: none;
  outline: none;
  background: var(--principal-color);
  color: var(--text-color);
  transition: 0.4s;
  cursor: pointer;
  font-size: 15px;

}

input[type="submit"]:hover{ background: var(--principal-color-shadow); transition: 0.4s;  }